[user]
    name = Ruaidhri Devery
    email = deveryr2@gmail.com

[init]
    defaultBranch = main

[alias]
    c = commit -v
    ca = commit --amend
    co = checkout
    cob = checkout -b
    s = status
    br = branch
    bra = branch -alvv
    d = diff
    dd = diff --cached
    l = log --oneline --graph

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    line-numbers = true
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[pull]
    ff = only
